@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem; /* Center the spinner */
    width: 60px; /* Width of the spinner */
    aspect-ratio: 1; /* Keeps it circular */
    border-radius: 50%; /* Rounded edges */
    border: 8px solid theme('colors.primary.900'); /* Main color */
    border-right-color: theme('colors.primary.200'); /* Right color for the effect */
    animation: rotate 1s infinite linear; /* Rotation animation */
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
}
